{{!-- <div class="container column col-sm-6">

  {{#each plans}}
  <div class="col-sm-4">
    <h4>Plan: {{this.title}}</h4>
    <p>Description: {{this.description}}</p>
    <p>Creator: {{this.creator.username}}</p>
    <p>Genre: {{this.genre}}</p>
    <p>
      <span class="fas fa-user"></span>

      {{this.assistants.length}}</p>
  </div>
  {{/each}}
</div> --}}
<div class="container d-flex justify-content-center align-content-center main">
  <div class="container">
  <canvas id="myChart" height="500" width="500"></canvas>
</div>

</div>

