<div class="wrapper">
  <div class="container d-flex flex-column justify-content-center align-content-center main ">
<div class="movies-partial">
        <h4>{{plan.title}}</h4>
        <p>Creator: {{plan.creator.username}}</p>
        <p>Description: {{plan.description}}</p>
        <p><span class="fas fa-users"></span> {{plan.assistants.length}}</p>
        <a href="/plans/games/online/{{plan.id}}/join"> Join </a>
      </div>

</div>