<div class="wrapper">
    <div class="container d-flex flex-column justify-content-center align-content-center main ">
        <img src="{{user.profilePic}}" style="height: 100px; width: 100px; margin: 0 auto" alt="">
        <h3>{{user.username}}</h3>
        <h4>
            <span class="far fa-star"></span>{{user.stars}}</h4>
        <p>Plans assisted to: {{user.plansAssisted}}</p>
        <p>Plans created: {{user.plansCreated}}</p>
    </div>
</div>