<div class="wrapper">
  <div class="container d-flex flex-column justify-content-center align-content-center main ">
<div class="movies-partial">
        <h4>{{plan.title}}</h4>
        <p>Creator: <a href="/profile/{{plan.creator.id}}/"></a>{{plan.creator.username}}</p>
        <p>Description: {{plan.description}}</p>
        <p>Date: {{plan.date}}</p>
        <p>Hour {{plan.hour}}</p>
        <p>Address: {{plan.address}}</p>
        <p>Assistants <span class="fas fa-users"></span> {{plan.assistants.length}}</p>
        <ul>
          {{#each plan.assistants}}
            <li><a href="/profile/{{this.id}}/">{{this.username}}</a></li>
          {{/each}}
        </ul>
        <a href="/plans/{{plan.genre}}/{{plan.subgenre}}/{{plan.id}}/join"><button type="button" class="btn btn-danger">Join</button></a>
      </div>

</div>